#footer-section{
    color:$white;
    background: $raising-black;
    font-size: $x-small;
    padding: 20px;
    
}
a{
    color:$white;
}

.footer__primera-linea {
    display: flex;
    justify-content: space-between;
      
}
#footer-section p {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 15px;
}
@media (min-width:768px){
    #footer-section {
            display: flex;
            justify-content: space-between;
            padding: 65px;
    }

    #footer-section a {
        margin-right:50px;
    }
}